* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
}

body {
  background: black;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.header {
  background: #111111;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.home {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
}
